.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

header{
  display: flex;
  height: 100px;
  background-color: black;
}

footer{
  display: flex;
  height: 50px;
  background-color: black;
}
